.calendar-title {
	display: flex;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: #2b324c;
	color: white;
	padding: 10px;
}

h2{
	padding: 10px;
}

.back-button {
	background-color: transparent;
	position: relative;
	right: 30px;
}

.days {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.dates {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
}