.top {
	height: 90vh;
	background-color: rgba(122, 122, 122, 0.2);
}

.bottom-menu {

}

button {
	padding: 10px 43px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: white;
	border: none;
}

button:active {
	border: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
}
  