.title {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: #2b324c;
	color: white;
	padding: 10px;
}

.exercise-tab {
	background-image: url('../../img/model.png');
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: 50px;
}