.title {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: #2b324c;
	color: white;
	padding: 10px;
}

.exercise-front {
	background-image: url('../../img/model.png');
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: 50px;
}

.exercise-back {
	background-image: url('../../img/modelback.PNG');
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: 50px;
}

.workout-image {
	width: 100%;
	height: 100%;
}

h5 {
	margin: 5px;
}

.grid-item {
	border: 1px solid black;
	background-color: white;
	height: 190px;
}

.less {
	height: 100vh;
}

.more {
	height: 100%;
}

.grid-workouts {
	display: grid;
	padding: 10px;
	background-color: rgba(122, 122, 122, 0.2);
	grid-template-columns: 49% 49%;
	grid-template-rows: 190px;
	grid-column-gap: 10px;
	grid-row-gap: 10px;

}

.back {
	position: absolute;
	left: 10px;
	top: 15px;
}

.round {
	position: absolute;
	bottom: 100px;
	right: 10px;
}

.link {
	text-decoration: none;
	color: black;
	background-color: transparent;
}

.shoulders {
	position: absolute;
	left: 3px;
	top: 145px;
}

.chest {
	position: absolute;
	left: 3px;
	top: 200px;
}

.forearms {
	position: absolute;
	left: 3px;
	top: 250px;
}

.obliques {
	position: absolute;
	left: 3px;
	top: 305px;
}

.quads {
	position: absolute;
	left: 3px;
	top: 380px;
}

.cardio {
	position: absolute;
	right: 35px;
	top: 95px;
}

.biceps {
	position: absolute;
	right: 40px;
	top: 200px;
}

.abs {
	position: absolute;
	right: 40px;
	top: 250px;
}

.abductors {
	position: absolute;
	right: 40px;
	top: 380px;
}

.adductors {
	position: absolute;
	right: 40px;
	top: 430px;
}

.traps {
	position: absolute;
	left: 5px;
	top: 150px;
}

.triceps {
	position: absolute;
	left: 5px;
	top: 205px;
}

.hamstrings {
	position: absolute;
	left: 5px;
	top: 395px;
}

.calves {
	position: absolute;
	left: 5px;
	top: 495px;
}

.lats {
	position: absolute;
	right: 40px;
	top: 199px;
}

.lower {
	position: absolute;
	right: 5px;
	top: 280px;
}

.glutes {
	position: absolute;
	right: 35px;
	top: 332px;
}