.top-bit {
	background-color: #2b324c;
}

.back-history-button {
	background-color: transparent;
	position: relative;
	right: 150px;
}

.images-muscle-page {
	width: 90%;
	border: 1px solid black;
	border-radius: 15px;
	margin: 20px 0;
}