.title {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: #2b324c;
	color: white;
	padding: 10px;
}

.user-icon {
	margin: 40px 0 10px 0;
}

.personal-info {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}

.logout {
	width: 30%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px; 
}

.progress {
	text-align: center;
	font-size: 15px;
	width: 90%;
	background-color: rgba(255, 255, 255, 0.5);
}

.progress-image {
	padding: 0 10px
}