.Sign-Up-Page {
	height: 100vh;
	background-image: url('../../img/bg.jpg');
	background-position-x: -110px;
	background-repeat: no-repeat;
	background-size: cover;
}

.Link {
	background-color: white;
	color: black;
	text-decoration: none;
	padding: 5px;
	border-radius: 5px;
}

.signin-text {
	padding-top: 100px;
	color: white;
}

.wrong-login {
	color: red;
}