h2 {
	margin: 0;
}

.intro {
	text-align: center;
	padding-top: 50px;
	font-style: italic;
}

.selected-muscle {
	width: 200px;
	padding: 15px 0;
}

.workout-block {
	border: 1px solid black;
}

.workout-section {
	background-color: white;
	height: 78.5vh; 
	margin: 10px 10px;
} 

.workouts-top {
	display: flex;
	border-bottom: 1px solid black;	
}

.select-muscle {
	padding-top: 50px;
}

.select-exercise {
	padding: 0;
	width: 100%;
}

.date {
	width: 90px;
	text-align: right;
}
.headers {
	display: flex;
	border-bottom: 1px solid black;	
}

.header-item {
	margin: 0 10%;
}

.sets {
	padding: 5px;
	display: flex;
	border-bottom: 1px solid black;	
}

.sets-item {
	padding: 5px 10px;
	margin: 0 2%;
}